<div *ngIf="!pais; else divPais" 
    class="alert alert-info">
    <i class="fa fa-refresh fa-spin fa-x2" ></i> Espere por favor...
</div>

<ng-template #divPais>

    <div class="row ">
        <div class="col-12">
            <h2 class="animate__animated animate__flipInX">País:  <small> {{ pais[0].name.common }} </small></h2>
            <hr>
            
        </div>
    </div>
    

    <div class="row animate__animated animate__lightSpeedInRight">
        <div class="col-5">
            <h3>Bandera:</h3>
            <img [src]="pais[0].flags.png " class="img-ver"  alt="Bandera de {{pais[0].name.common}} ">
        </div>
    

        <div class="col">
            <h3>Información:</h3>
            <ul class="list-group" >
                <li class="list-group-item" >
                    <strong>Continente: </strong>{{pais[0].continents}} 
                </li>
                <li class="list-group-item" >
                    <strong>Área: </strong>{{pais[0].area}} 
                </li>
                <li class="list-group-item" >
                    <strong>Población: </strong> {{pais[0].population| number}} 
                </li>
                <li class="list-group-item" >
                    <strong>Capital: </strong>{{pais[0].capital}} 
                </li>
                <li class="list-group-item" >
                    <strong>Código Alpha3: </strong>{{pais[0].cca3}} 
                </li>
            </ul>
        </div>
    <h3>Traducciones:</h3>
    </div>
    <div class="row animate__animated animate__backInRight">
        <div class="col">
            <span class="badge bg-primary me-1" > {{ pais[0].translations["spa"].official }} </span>
            <span class="badge bg-primary me-1" > {{ pais[0].translations["cym"].official }} </span>
            <span class="badge bg-primary me-1" > {{ pais[0].translations["deu"].official }} </span>
            <span class="badge bg-primary me-1" > {{ pais[0].translations["ara"].official}} </span>
            <span class="badge bg-primary me-1" > {{ pais[0].translations["est"].official }} </span>
            <span class="badge bg-primary me-1" > {{ pais[0].translations["fra"].official }} </span>
            <span class="badge bg-primary me-1" > {{ pais[0].translations["ita"].official }} </span>
            <span class="badge bg-primary me-1" > {{ pais[0].translations["jpn"].official }} </span>
            <span class="badge bg-primary me-1" > {{ pais[0].translations["swe"].official }} </span>
        </div>
    </div>

    <!-- Mostrar el objeto 
        <pre class="mt-5" >
        {{ pais| json }}

    </pre> -->


</ng-template>
